{% extends "base.html" %}
{% load bootstrap3 %}

{% block script%}
<!-- Need to come back and make this work now that names are chagned  -->
<script>
function sumResources() {
  let total = 0;
  var items = document.getElementsByName("maintance_input");
  for (var i = 0; i < items.length; ++i) {
    total +=  parseInt(items[i].value);
  }
  var items = document.getElementsByName("project_input");
  for (var i = 0; i < items.length; ++i) {
    total +=  parseInt(items[i].value);
  }
  document.getElementById("total_used_resources").innerHTML = total;
}
</script>
{% endblock %}

{% block content %}
<!-- Todo Civlization Name -->
<h1>{{civilization.name}}</h1>
<!-- Todo ^ Clickable for more details  -->
<!-- Temp make a button for that  -->
<button onclick="location.href='{% url 'civilization_details' civilization.id %}'" type="button">
         details</button>
<!-- Year and Season -->
<p>Year: {{civilization.year_str}}</p>
<!-- Todo Resources -->
<p>Resources: {{resources}}</p>
<!-- Todo Total Resources -->
<p>Total Resources: 0</p>
<p id="total_used_resources"> 0</p>
<form method="post">
  {% csrf_token %}
  <!-- Todo Maintance -->
  <ul class="list-group" id="tile_maintance">
    Maintance
    {% for maintance_project in maintance_projects %}
    <li class="list-group-item">
      {{ maintance_project.name }}:
      <input type="number" name="maintance_{{ maintance_project.id }}" min="0" max="{{ maintance_project.cost }}" value="0"  onchange="sumResources()">
       / {{ maintance_project.cost }}
    </li> 
    {% endfor %}
  </ul>
  <!-- Ongoing projects -->
  <ul class="list-group" id="project_maintance">
    Projects
    {% for project in projects %}
    <li class="list-group-item">
      {{ project.name }}:
      <input type="number" name="project_{{ project.id }}" min="0" {% if project.needed != None %} max="{{ project.needed }}"
      {% endif %} value="0"  onchange="sumResources()">
      {% if project.needed != None %}
      / {{ project.needed }}
      {% endif %}
    </li> 
    {% endfor %}
  </ul>
  <!-- Todo Create a new projects button -->
  <!-- Todo Map -->
  <button type="submit" class="btn btn-success" >Sumbit</button>
</form>


{% endblock %}